@import '../../scss/mixins';

.search {
  @include search;

  .property {
    margin-bottom: -0.2rem;
    grid-template-columns: 2fr auto 1fr auto 1fr auto 2fr;
  }

  select,
  input[type='text'] {
    &:focus {
      outline: 1px solid var(--outline-color-usda);
    }
  }
}
