@import '../../../scss/mixins';

.food {
  @include content;

  background-color: white;
  overflow: scroll;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .title {
      display: flex;
      align-items: center;

      .settingsIcon {
        align-self: start;
      }
    }
  }

  & > a {
    margin-top: 2rem;
  }
}
