.bar {
  // flex: auto;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: var(--border);
  min-height: 1.2rem;
  position: relative;

  &--thin {
    min-height: 0.6rem;
    height: 0.6rem;
  }

  .fill {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #b6d0a4;
  }

  p {
    position: relative;
    // font-weight: 600;
    margin-left: 0.3rem;
    z-index: 1;
    font-size: 0.9rem;
    color: black;
    text-shadow: white 0 0 3px;
    // color: white;
    // text-shadow: black 0 0 3px;
  }
}
