// @import '../scss/_mixins.scss';

.fineli {
  height: 100%;
  background-color: #4802;
  display: flex;

  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  input:focus,
  select:focus {
    outline: 1px solid #480;
  }

  // select {
  //   background-color: white;
  //   color: inherit;
  // }

  // @include search;
  // @include results;

  // .details {
  //   flex: 1;
  //   background-color: cyan;
  // }
}
