@import '../scss/_mixins.scss';

.fineli {
  height: 100%;
  background-color: #4802;
  // display: flex; set in inline style
  flex-direction: column;
  input:focus {
    outline: 1px solid #480;
  }

  @include search;
  @include results;
}
