@import '../scss/mixins';

.food {
  @include content;

  background-color: white;
  overflow: scroll;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .title {
      display: flex;
      align-items: center;
      .close {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  & > a {
    margin-top: 2rem;
  }
}
