@import '../scss/mixins';

.food {
  @include content;
  overflow: scroll;


  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  p {
    text-transform: capitalize;
  }
}
