.pages {
  border-top: 1px solid #888;
  // height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
  user-select: none;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
    transform: scaleY(95%);
    line-height: 1;
  }

  .leftIcon,
  .rightIcon {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
  }

  .rightIcon {
    transform: scaleX(-1);
  }

  .disabled {
    cursor: default;
    color: #5557;
  }
}
