@import '../scss/mixins';

.search {
  @include top;

  & > div {
    .language {
      display: flex;
      padding: 0.3rem 0; // for greater touch area
      cursor: pointer;
      user-select: none;
      div {
        width: 0.7rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(-70deg);
          height: 0.1rem;
          width: 1rem;
          background-color: currentcolor;
        }
      }
    }
  }
}
