@import '../scss/mixins';

.search {
  @include top;

  & > div {
    select,
    input {
      flex: 1;
      font-family: inherit;
      border-radius: 0.1rem;
      border: 1px solid #888;
      color: inherit;
    }

    select {
      font-size: 0.95rem;
      padding: 0.2rem 0.2rem;
    }

    input {
      font-size: 1rem;
      padding: 0.2rem 0.4rem;

      &::placeholder {
        font-weight: 200;
      }
    }

    .language {
      display: flex;
      padding: 0.3rem 0; // for greater touch area
      cursor: pointer;
      user-select: none;
      div {
        width: 0.8rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(-70deg);
          height: 0.1rem;
          width: 1rem;
          background-color: currentcolor;
        }
      }
    }
  }
}
