@import '../scss/mixins';

.settings {
  height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    @include top;
  }

  .content {
    @include content;

    & > div {
      margin-bottom: 0.8rem;
    }

    .line {
      height: 1px;
      background-color: var(--border-color);
      width: 100%;
      align-self: center;
    }

    .property {
      // margin-bottom: 0.8rem;
      display: flex;
      align-items: center;
      span {
        flex: 1;
      }
    }
  }
}
