@import '../../scss/mixins';

.search {
  @include search;

  .presets {
    display: flex;
    gap: 1rem;
    align-items: center;
    select {
      flex: 1;
    }
  }

  .property {
    grid-template-columns: 0fr auto 3fr auto 3fr auto 0fr;
    // grid-template-columns: 1fr auto 4fr auto 4fr auto 1fr;
  }
}
