@import '../../../scss/mixins';

.results {
  @include content;

  p {
    align-self: start;
    cursor: pointer;
    span {
      font-size: 0.9em;
      margin-left: 0.5rem;
      color: #666;
    }
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 1rem;
    border: 0.1rem solid white;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}
