.barThousand {
  position: relative;
  display: grid;
  grid-template-columns: 55fr 34fr 21fr 13fr 8fr 5fr 3fr 2fr 1fr 1fr;
  grid-template-columns: 65fr 44fr 31fr 23fr 18fr 15fr 13fr 12fr 11fr 11fr;
  gap: 0.2rem;

  .text {
    position: absolute;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    text-shadow: 0 0 0.2rem white;
    font-size: 0.9rem;
  }

  .tenth {
    border: 1px solid #ccce;
    background-color: var(--background-color-bar);

    & > div {
      height: 100%;
      background-color: var(--background-color-bar-fill);
    }
  }

  .percentage {
    display: flex;
    justify-content: flex-end;
    & > div {
      transform: translateX(calc(50% + 0.1rem));
      font-size: 0.7rem;
      color: #333;
    }
  }
}
