.modeSelect {
  display: flex;
  align-items: center;

  &__line {
    flex: 1;
    background-color: #777;
    height: 0.1rem;
    transform: translateY(0.1rem);
  }

  &__select {
    margin: 0 1.2rem;
    display: flex;
    cursor: pointer;
    user-select: none;
    div {
      width: 1.5rem;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-70deg);
        height: 0.1rem;
        width: 1rem;
        background-color: currentcolor;
      }
    }
  }
}
