.toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  -webkit-user-select: none;
  user-select: none;
  cursor: default;

  .switch {
    width: 2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    margin-right: 0.1rem;
    margin-top: -0.1rem;
    margin-bottom: -0.1rem;
    background-color: #888;
    cursor: pointer;
    position: relative;
    transition: all 0.15s ease;

    .ball {
      position: absolute;
      top: 0.15rem;
      left: 0.15rem;
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      background-color: #f7f7f7;
      transition: all 0.15s ease;
    }

    &--isOn {
      background-color: var(--background-color-isOn);
      .ball {
        left: 0.95rem;
      }
    }
  }
}
