// $border: 1px solid #888;

:root {
  --header-height: calc(6rem + 2vw);

  --background-color-fineli: #4802;
  --outline-color-fineli: #480;
  --border-color: #888;
  --border: 1px solid var(--border-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#root {
  height: 100%;
  height: 100svh;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  overflow: hidden; // hide leaking box-shadow
}

header {
  height: var(--header-height);

  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: var(--border);
    box-shadow: 0 0.1rem 0.1rem #555;
    z-index: 1; // to show box-shadow

    & > div {
      text-align: center;
      &:not(:last-child) {
        border-right: var(--border);
      }

      flex: 1;
      padding: 0.5rem;
      background-color: #ddd;
      text-transform: uppercase;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

main {
  height: calc(100% - var(--header-height));
}

nav,
main {
  @media (min-width: 35em) {
    border-right: var(--border);
    border-left: var(--border);
  }
}

h1 {
  // Where is my protein -- title
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: calc(0.3rem + 1vw);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

h2 {
  // Settings -- subtitle
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: auto;

  span {
    font-size: 1rem;
    font-weight: 400;
    color: #444;
    margin-left: 0.5rem;
  }
}

h3 {
  // Info -- smaller title
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border-bottom: 1px solid #333;
  margin-bottom: 0.3rem;
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

h4 {
  // Info -- smaller subtitle
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

h5 {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;

  span {
    font-size: 0.85rem;
    font-weight: 400;
    margin-left: 0.4rem;
  }
}

p + p {
  margin-top: 0.4rem;
}
