// $border: 1px solid #888;

:root {
  --header-height: 2.7rem;

  --background-color-tab: #ddd;
  --background-color-tab-selected: #4807;
  --background-color-search: #4488002a;

  --outline-color: #480;

  --background-color-bar: #f8f8f8;
  --background-color-bar-fill: #4806;

  --background-color-isOn: #4a0;

  // // INFO
  // --background-color-info-tab: #0484;

  // // FINELI
  // --background-color-fineli-tab: #4805;
  // --background-color-fineli: #4802;
  // --outline-color-fineli: #480;

  // // USDA
  // --background-color-usda-tab: #1503be44;
  // --background-color-usda-tab: #4084;
  // --background-color-usda-tab: #0484;
  // --background-color-usda-tab: #8404;
  // --background-color-usda-tab: #4805;
  // --background-color-usda: #4082;
  // --background-color-usda: #0482;
  // --background-color-usda: #8402;
  // --background-color-usda: #4802;
  // --outline-color-usda: #408;
  // --outline-color-usda: #480;

  // --background-color-bar: #84c5e3;

  --border-color: #888;
  --border: 1px solid var(--border-color);

  --padding-sides: 1rem;
  --padding-common: 1.5rem var(--padding-sides) 0.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f7f8f9;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // background-color: white;
}

#root {
  background-color: white;

  height: 100%;
  height: 100svh;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  overflow: hidden; // hide leaking box-shadow

  @media (min-width: 35em) {
    border-right: var(--border);
    border-left: var(--border);
  }

  @media (pointer: coarse) {
    border-top: var(--border);
  }
}

header {
  box-shadow: 0 0.1rem 0.1rem #555;
  z-index: 1; // to show box-shadow
}

main {
  height: calc(100% - var(--header-height));
}

h1 {
  // Where is my protein -- title
  flex: 1;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  // Settings -- subtitle
  font-size: 1.15rem;
  font-weight: 600;
  margin-right: auto;

  span {
    font-size: 0.9em;
    font-weight: 400;
    color: #444;
    display: block;
    margin-top: 0.2rem;
  }

  margin-bottom: min(3vw, 1.5rem);
}

h3 {
  // Info -- smaller title
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  border-bottom: 1px solid #333;

  p + & {
    // in info
    margin-top: 2rem;
    margin-bottom: 0.3rem;
  }

  div + & {
    // in food
    margin-top: 1rem;
  }

  span {
    margin-left: 0.4rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: #222;
  }
}

h4 {
  font-size: 0.98rem;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

h5 {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}

h6 {
  margin: 0.8rem 0 0.4rem;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-decoration: underline;
}

small {
  font-size: 0.85rem;
  font-weight: 400;
  color: #333;
  margin-top: 0.1rem;
  margin-bottom: -0.1rem;
}

p + p,
h3 + p {
  margin-top: 0.4rem;
}

b {
  font-weight: 600;
}

a {
  word-break: break-word;
}
