$border: 1px solid #888;

:root {
  --header-height: calc(6rem + 2vw);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#root {
  height: 100%;
  height: 100svh;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  overflow: hidden; // hide leaking box-shadow
}

header {
  height: var(--header-height);

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: calc(0.3rem + 1vw);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: $border;
    box-shadow: 0 0.1rem 0.1rem #555;
    z-index: 1; // to show box-shadow

    & > div {
      text-align: center;
      &:not(:last-child) {
        border-right: $border;
      }

      flex: 1;
      padding: 0.5rem;
      background-color: #ddd;
      text-transform: uppercase;
      font-weight: 400;
      color: #222;
      cursor: pointer;
    }
  }
}

main {
  height: calc(100% - var(--header-height));
}

nav,
main {
  @media (min-width: 35em) {
    border-right: $border;
    border-left: $border;
  }
}

h3 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #333;
  margin-bottom: 0.3rem;
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
