// $border: 1px solid #888;

:root {
  --header-height: 2.7rem;

  --background-color-fineli: #4802;
  --outline-color-fineli: #480;
  --border-color: #888;
  --border: 1px solid var(--border-color);

  --background-color-isOn: #53ca53;
  --background-color-isOn: #4a0;

  --padding-sides: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f7f8f9;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // background-color: white;
}

#root {
  background-color: white;

  height: 100%;
  height: 100svh;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  overflow: hidden; // hide leaking box-shadow

  @media (min-width: 35em) {
    border-right: var(--border);
    border-left: var(--border);
  }

  @media (pointer: coarse) {
    border-top: var(--border);
  }
}

header {
  box-shadow: 0 0.1rem 0.1rem #555;
  z-index: 1; // to show box-shadow
}

main {
  height: calc(100% - var(--header-height));
}

h1 {
  // Where is my protein -- title
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 0.04rem;
  font-weight: 600;

  & + p {
    margin-top: 0.8rem;
  }
}

h2 {
  // Settings -- subtitle
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: auto;

  span {
    font-size: 1rem;
    font-weight: 400;
    color: #444;
    margin-left: 0.5rem;
  }

  & + p {
    margin-top: 0.8rem;
  }
}

h3 {
  // Info -- smaller title
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  border-bottom: 1px solid #333;
  margin-bottom: 0.3rem;
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

h4 {
  // Info -- smaller subtitle
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

h5 {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;

  span {
    font-size: 0.85rem;
    font-weight: 400;
    margin-left: 0.4rem;
  }
}

p + p {
  margin-top: 0.4rem;
}
