:root {
  --header-height: 2.7rem;

  --background-color-html: #f7f8f9;
  --background-color-tab: #ddd;
  --background-color-tab-selected: #4807;
  --background-color-search: #4488002a;
  --background-color-bar: #f8f8f8;
  --background-color-bar-fill: #4806;
  --background-color-isOn: #4a0;

  --outline-color: #480;

  --color: #111;
  --color-small: #222;
  --color-scientific: #444;

  --border-color: #888;
  --border: 1px solid var(--border-color);

  --padding-sides: 1rem;
  --padding-search: 1.5rem var(--padding-sides) 0.8rem;
  --padding-results: 1rem var(--padding-sides);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background-color-html);
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: var(--color);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#root {
  background-color: white;

  height: 100%;
  height: 100svh;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  overflow: hidden; // hide leaking header box-shadow

  border: var(--border);
}

header {
  box-shadow: 0 0.1rem 0.1rem #555;
  z-index: 1; // to show box-shadow
}

main {
  height: calc(100% - var(--header-height));
}

h1 {
  // whereismyprotein title
  margin: 2rem 0 1.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  text-align: center;
}

h2 {
  // food name title
  font-size: 1.15rem;
  font-weight: 600;
  margin-right: auto;

  span {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--color-scientific);
    display: block;
    margin-top: 0.2rem;
  }

  margin-bottom: min(3vw, 1.5rem);
}

h3 {
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  border-bottom: 1px solid var(--color);

  p + & {
    // in info
    margin-top: 2rem;
    margin-bottom: 0.3rem;
  }

  div + & {
    // in food
    margin-top: 1rem;
  }

  span {
    margin-left: 0.2rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-small);
  }
}

h4 {
  font-size: 0.98rem;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

h5 {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;

  span {
    font-weight: 400;
    font-size: 0.9em;
    margin-left: 0.2rem;
    color: var(--color-small);
  }
}

h6 {
  margin: 0.8rem 0 0.4rem;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-decoration: underline;
}

small {
  font-size: 0.85rem;
  font-weight: 400;
  color: #222;
  margin-top: 0.1rem;
  margin-bottom: -0.1rem;
}

p + p,
h3 + p {
  margin-top: 0.4rem;
}

b {
  font-weight: 600;
}

a {
  word-break: break-word;
}
