$border: 1px solid #888;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#root {
  height: 100%;
  height: 100svh;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  overflow: hidden; // hide leaking box-shadow
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: $border;
    box-shadow: 0 0.1rem 0.1rem #555;

    & > div {
      text-align: center;
      &:not(:last-child) {
        border-right: $border;
      }

      flex: 1;
      padding: 0.4rem;
      background-color: #ddd;
      text-transform: uppercase;
      font-weight: 400;
      color: #222;
      // text-transform: capitalize;
      // transform: scaleY(80%);
      cursor: pointer;
      // font-size: 1.1rem;
    }
  }
}

main {
  flex: 1;
  display: flex;
}

nav,
main {
  @media (min-width: 35em) {
    border-right: $border;
    border-left: $border;
  }
}

.search {
  padding: 1.2rem 1rem 0.6rem;
  border-bottom: 1px solid #888;
  display: flex;
  align-items: center;
  gap: 2rem;

  input {
    flex: 1;
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.1rem;
    font-family: inherit;
    border: 1px solid #888;

    &::placeholder {
      font-weight: 200;
    }
  }

  .settingsIcon {
    height: 1.5rem;
    width: 1.5rem;
    background-color: gray;
  }
}

.results {
  padding: 1rem 0.5rem 0;
}

h1 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding-top: calc(0.8rem + 2vw);
  padding-bottom: calc(0.6rem + 1.2vw);
}

h2 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #333;
  margin-bottom: 0.3rem;
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
