@mixin top {
  padding: 1.5rem 1rem 0.8rem;
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  & > div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .settingsIcon {
      width: 1.5rem;
      height: 1.5rem;
      color: #333;
      cursor: pointer;
    }
  }
}

@mixin content {
  flex: 1;
  padding: 0.8rem 0.5rem;
  background-color: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

// @mixin results {
//   .results {
//     .property {
//       margin-bottom: 0.8rem;
//       display: flex;
//       span {
//         flex: 1;
//       }
//     }

//     .numResults {
//       border-top: 1px solid #888;
//       padding-top: 0.8rem;
//     }

//     p {
//       align-self: start;
//       cursor: pointer;
//       span {
//         font-size: 0.9em;
//         margin-left: 0.5rem;
//         color: #666;
//       }
//     }
//   }
// }
