@mixin search {
  padding: var(--padding-search);
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .property {
    user-select: none;
    display: grid;
    // grid-template-columns: SET IN CSS MODULE
  }

  select,
  input[type='text'] {
    flex: 1;
    font-family: inherit;
    color: inherit;
    background-color: white;
  }

  select {
    font-size: 0.95rem;
    padding: 0.1rem 0.2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    &:focus {
      outline: var(--outline);
    }
  }

  input[type='text'] {
    border: none;
    &:focus {
      outline: none;
    }

    font-size: 1rem;
    caret-color: #444;

    &::placeholder {
      font-weight: 200;
    }
  }
}

@mixin content {
  flex: 1;
  padding: var(--padding-results);
  background-color: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  .settingsIcon {
    margin-left: 1rem;
    min-width: 1.4rem;
    min-height: 1.4rem;
    cursor: pointer;
  }
}
