@mixin top {
  padding: 1.5rem 1rem 0.8rem;
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & > div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    select,
    input {
      flex: 1;
      font-family: inherit;
      border-radius: 0.1rem;
      border: 1px solid #888;
      color: inherit;
    }

    select {
      font-size: 0.95rem;
      padding: 0.2rem 0.2rem;
    }

    input {
      font-size: 1rem;
      padding: 0.2rem 0.4rem;

      &::placeholder {
        font-weight: 200;
      }
    }

    .settingsIcon {
      width: 1.5rem;
      height: 1.5rem;
      color: #333;
      cursor: pointer;
    }
  }
}

@mixin content {
  flex: 1;
  padding: 0.8rem 0.5rem;
  background-color: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
